@import "tailwindcss";

#root {

  margin: 0 auto;
  text-align: center;
    text-decoration-color: white;

}


.glass
{
/* From https://css.glass */
background: rgba(255, 0, 218, 0.1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1005px);
z-index: -1;
-webkit-backdrop-filter: blur(15px);
border: 1px solid rgba(255, 0, 218, 0.3);
}

.title{
    font-family: 'Georgia', serif;
    font-style: italic;
    text-shadow: 0 0 10px;
    letter-spacing: 0.05em;
}



.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}