@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

#root {

  margin: 0 auto;
  text-align: center;
    text-decoration-color: white;
    background-color: black;

}

.glass-input-card {
  width: 260px;
  height: 50px;
  background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
  overflow: hidden;
  text-align: center;
}

.glass-input-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}

.glass-input-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
}

.login-button {
   width: 240px;
  height: 50px;
  background: rgba(255, 255, 255, 0);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
  overflow: hidden;
}

.login-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}

.login-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
}

.glass
{
/* From https://css.glass */
background: rgba(255, 0, 218, 0.1);
border-radius: 16px;
box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
backdrop-filter: blur(1005px);
-webkit-backdrop-filter: blur(150px);
}

.glass-white
{
/* From https://css.glass */
background: rgba(255, 255, 218, 0.1);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
border-radius: 16px;
backdrop-filter: blur(50px);
z-index: -1;
-webkit-backdrop-filter: blur(15px);
}
.songInfo
{
/* From https://css.glass */
background: rgba(255, 0, 218, 0.1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(15px);
-webkit-backdrop-filter: blur(150px);
border: 1px solid rgba(255, 0, 218, 0.1);
}

.musicPreview
{
/* From https://css.glass */
background: rgba(255, 0, 218, 0.1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(15px);
-webkit-backdrop-filter: blur(150px);
border: 1px solid rgba(255, 0, 218, 0.1);
}

.musicControlBar
{
/* From https://css.glass */
background: rgba(255, 0, 218, 0.1);
border-radius: 50px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(15px);
-webkit-backdrop-filter: blur(150px);
border: 1px solid rgba(255, 0, 218, 0.1);
}

.Pause,.Next,.Prev
{
border-radius: 150px;
}

.Nav
{
border-radius: 150px;
}

.title{
    font-family: 'Georgia', serif;
    font-style: italic;
    text-shadow: 0 0 10px;
    letter-spacing: 0.05em;
}

.mainContainer{
    font-family: 'Georgia', serif;
    font-style: italic;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

